.HowItWorks {
    margin-left: 20px;
    margin-right: $page_margin;
}
.instruction_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    
}
.rounded-component {
    background-color: rgb(241, 241, 241);
    width: 90%;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.restaurant-background {
    background-color: rgb(241, 241, 241);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.card_list {
    display: flex;
    flex-direction: column;

}
.restaurant_card {
    background-color: white;
    width:394px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    &__New {
        background-color: $Tertiary;
        display: block;
        position: absolute;
        margin-top: 15px;
        right: 35px;
        padding-left:30px;
        padding-right: 30px;
        height: 35px;
        text-align: center;
        p {
            color: darken($Tertiary, 40%);
            margin:0;
            padding-top:8px;
        }
    }
    &__bottom {
        display:flex;

        flex-direction: row;
        justify-content: space-between;
        padding-top:15px;
        padding-left: 15px;
        &--p {
            display:flex;
            flex-direction: column;
            flex: 1;
        }
        p {
      
            margin-top:0px;
            margin-bottom:5px;
        }
        i {

            padding-top: 15px;
            padding-right: 20px;
            color: purple;
        }
    }
}
