header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    padding-bottom:15px;
    border-bottom: 2px solid rgb(209, 209, 209);

    img {
        width:200px;
    }
}