.explore a {
    background:linear-gradient(170deg,$Secondary, $Primary);
    text-decoration: none;
    color: white;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}