* {
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.explore a {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  text-decoration: none;
  color: white;
  width: 216px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(209, 209, 209);
}
header img {
  width: 200px;
}

footer {
  background-color: rgb(61, 61, 61);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
footer p {
  color: white;
}
footer img {
  width: 100px;
  height: 30px;
  object-fit: contain;
  filter: invert(100%);
}
footer ul {
  padding-left: 0;
}
footer li {
  list-style: none;
}
footer li i {
  color: white;
  padding-right: 10px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}
.location i {
  padding-right: 15px;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  margin-bottom: 30px;
  padding-bottom: 60px;
}

#less_width {
  width: 270px;
  text-align: center;
  margin-bottom: 10px;
}
#less_width p {
  color: rgb(100, 100, 100);
}

.HowItWorks {
  margin-left: 20px;
  margin-right: 20px;
}

.instruction_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.instruction_list p {
  font-weight: bold;
}

.rounded-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(241, 241, 241);
  width: 354px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.rounded-component--purple_circle {
  display: block;
  position: relative;
  right: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  text-align: center;
}
.rounded-component--purple_circle p {
  color: white;
  position: relative;
  bottom: 10px;
}
.rounded-component i {
  color: rgb(124, 124, 124);
  padding-right: 25px;
  padding-left: 10px;
}
.rounded-component:hover {
  background-color: #e4d5f6;
}

.restaurant-background {
  background-color: rgb(241, 241, 241);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_list h2 {
  align-self: start;
}

.restaurant_card {
  background-color: white;
  position: relative;
  width: 394px;
  height: 280px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.restaurant_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurant_card__New {
  background-color: #99E2D0;
  display: block;
  position: absolute;
  margin-top: 15px;
  right: 35px;
  padding-left: 30px;
  padding-right: 30px;
  height: 35px;
  text-align: center;
}
.restaurant_card__New p {
  color: #278870;
  margin: 0;
  padding-top: 8px;
}
.restaurant_card__bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 15px;
}
.restaurant_card__bottom--p {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.restaurant_card__bottom p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.restaurant_card__bottom i {
  padding-top: 15px;
  padding-right: 20px;
  left: 350px;
}

#heartOutline {
  position: relative;
  left: 44px;
  color: black;
}
#heartOutline:hover {
  display: none;
}

#inviHeart {
  color: rgb(255, 249, 249);
}
#inviHeart:hover {
  color: #FF79DA;
  transform: scale(1.1);
}

header a {
  color: rgb(0, 0, 0);
  display: block;
  position: absolute;
  left: 20px;
}

.bg_img img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  margin-bottom: -60px;
  position: relative;
  z-index: -12;
}

.menu_bg {
  margin-top: 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: rgb(241, 241, 241);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
}
.menu_bg h1 {
  font-size: 30px;
}

.menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_header h1 {
  width: 270px;
}
.menu_header i {
  display: block;
  position: relative;
  top: 45px;
  right: 15px;
}

.menu_section_title p {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu_item_list {
  display: flex;
  flex-direction: column;
}

.menu_item_card {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding-left: 15px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  overflow: hidden;
  /*&:hover {
      transform: translate(40px, 20px);
      transition-property: transform;
      transition-duration: 300ms;
  }*/
}
.menu_item_card:hover > .menu_item_card--hidden_button {
  animation: intoFrame 0.5s both;
}
.menu_item_card:hover > .menu_item_card--hidden_button i {
  animation: rotation 0.5s both;
}
.menu_item_card:hover > .menu_item_card--e > .menu_item_card--bottom > .menu_item_card--bottom--money {
  animation: intoFrame 0.5s both;
}
.menu_item_card p {
  margin-bottom: 0;
  margin-top: 5px;
}
.menu_item_card--e {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-right: 25px;
  width: 100%;
}
.menu_item_card--top p {
  font-weight: bold;
  font-size: 17px;
  width: 250px;
}
.menu_item_card--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_item_card--bottom p {
  font-size: 15px;
}
.menu_item_card--bottom--num1 {
  display: none;
  background-color: orange;
}
.menu_item_card--bottom--num2 {
  display: none;
  background-color: lime;
}
.menu_item_card--bottom--money {
  position: relative;
  left: 70px;
}
.menu_item_card--hidden_button {
  position: relative;
  left: 70px;
  width: 80px;
  background-color: #99E2D0;
}
.menu_item_card--hidden_button p {
  color: #99E2D0;
}
.menu_item_card--hidden_button i {
  color: #99E2D0;
  background-color: white;
  padding: 5px;
  border-radius: 100%;
  position: relative;
  left: 19px;
}

.Desserts {
  padding-bottom: 40px;
}

@keyframes rotation {
  from {
    transform: rotate(72deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes intoFrame {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-70px, 0);
  }
}/*# sourceMappingURL=main.css.map */